Content/SpaceTales/Characters/Enemies/Kraken/Textures/Tex_KRAKEN_BODY_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Content/SpaceTales/Characters/Enemies/Kraken/Textures/Tex_KRAKEN_BODY_NRM.uasset filter=lfs diff=lfs merge=lfs -text
Content/SpaceTales/Characters/Enemies/Kraken/Textures/Tex_KRAKEN_BODY_RoughnessMetallicSpecular.uasset filter=lfs diff=lfs merge=lfs -text
